{% extends "gw/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Add Region using USGS NWIS</h1>
  <h6>Use this page to add data for regions with well data hosted by USGS NWIS</h6>

  <form id="add-region-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% gizmo region_name %}
    <div class="form-group{% if border_error %} has-error{% endif %}">
      <label class="control-label">
        <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="topright" title="Help">Region Boundary JSON File
          <a data-toggle="modal" data-target="#help-modal2"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
      </label>
      <input type="file" name="border-file">
      {% if border_error %}<p class="help-block">{{ border_error }}</p>{% endif %}
    </div>
    <div class="form-group{% if major_error %} has-error{% endif %}">
      <label class="control-label">
        <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="topright" title="Help">Major Aquifers JSON File
          <a data-toggle="modal" data-target="#help-modal3"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
      </label>
      <input type="file" name="major-file">
      {% if major_error %}<p class="help-block">{{ major_error }}</p>{% endif %}
    </div>
    <div class="form-group">
      <label class="control-label">
        <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="topright" title="Help">Minor Aquifers JSON File
          <a data-toggle="modal" data-target="#help-modal4"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
      </label>
      <input type="file" name="minor-file">
    </div>
    <div class="form-group{% if dem_error %} has-error{% endif %}">
      <label class="control-label">
        <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="topright" title="Help">Regional DEM TIF FIle
          <a data-toggle="modal" data-target="#help-modal7"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
      </label>
      <input type="file" name="dem-file">
      {% if dem_error %}<p class="help-block">{{ dem_error }}</p>{% endif %}
    </div>
    {% gizmo stateId %}
  </form>

{% endblock %}

{% block after_app_content %}
 <!-- Help Modal for Border JSON File-->
  <div class="modal fade" id="help-modal2" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label2">Instructions</h5>
        </div>
        <div class="modal-body">
          <h2>Region Boundary JSON File</h2>
          <ul>
            <li>Upload a GeoJSON file of the region boundary</li>
          </ul>
          <h6>Example Boundary</h6>
          <img src="{% static 'gw/images/example_border.png' %}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<!-- Help Modal for the Major Aquifers JSON File-->
  <div class="modal fade" id="help-modal3" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label3">Instructions</h5>
        </div>
        <div class="modal-body">
          <h2>Major Aquifers JSON File</h2>
          <ul>
            <li>Upload a GeoJSON file of the region major aquifers</li>
            <li>Each aquifer must have a name stored in the ["properties"]["Aquifer_Name"] attribute</li>
          </ul>
          <h6>Example aquifers</h6>
          <img src="{% static 'gw/images/example_major.png' %}" width="500px" height="400px">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<!-- Help Modal for the Minor Aquifers JSON File-->
  <div class="modal fade" id="help-modal4" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label4">Instructions</h5>
        </div>
        <div class="modal-body">
          <h2>Minor Aquifers JSON File</h2>
          <ul>
            <li>Upload a GeoJSON file of the region minor aquifers</li>
            <li>Each aquifer must have a name stored in the ["properties"]["Aquifer_Name"] attribute</li>
            <li>This step is not required. If the region has no minor aquifers, then do not upload a file.</li>
          </ul>
          <h6>Example aquifers</h6>
          <img src="{% static 'gw/images/example_minor.png' %}" width="500px" height="400px">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<!-- Help Modal for the DEM File-->
  <div class="modal fade" id="help-modal7" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label7">Instructions</h5>
        </div>
        <div class="modal-body">
          <h2>Regional DEM TIF File</h2>
          <ul>
            <li>Upload a TIF File with the DEM for the region</li>
            <li>Use a coarse reolution DEM, such as 1 kilometer</li>
            <li>The DEM elevations must be in Meters</li>
            <li>Coarse resolution DEMs are easily available by downloading the GTOPO30 data set from <a href="https://earthexplorer.usgs.gov/">https://earthexplorer.usgs.gov/</a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo add_button %}
{% endblock %}