{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
  {% url 'gw:region_map' as region_map %}
  {% url 'gw:home' as home %}
  <br>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{% url 'gw:home' %}">Home</a></li>
  <li class="{% if request.path == region_map %}active{% endif %}"><a href="{% url 'gw:region_map' %}">Regional Map</a></li>
{% endblock %}

{% block app_content %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Instructions</h5>
        </div>
        <div class="modal-body">
          <h2>Select Aquifer</h2>
          <ul>
            <li>Click the "Select Aquifer" dropdown and select the desired aquifer (or All aquifers)</li>
          </ul>
          <h2>Specify Required Data</h2>
          <ul>
            <li>Move the slider below the heading "Minimum Number of Data Points per Well"</li>
            <li>This slider adjusts how many wells will be dislayed. Only wells with the minimum specified number of measurements will be mapped.</li>
          </ul>
          <h2>Display Wells</h2>
          <ul>
            <li>Click the "Display Wells" button. The app will load and then display the wells for the specified aquifer with the required measurements.</li>
          </ul>
          <h2>Click on individual wells</h2>
          <ul>
            <li>When clicked, each well will display timeseries data and well metadata.</li>
            <li>Use the "Clear Wells" button to clear all displayed wells.</li>
          </ul>
          <h2>Display Surface</h2>
          <ul>
            <li>Click the "Display Surface" button to display the interpolated groundwater levels for the specified aquifer.</li>
            <li>Use the slider at the bottom of the map to view the interpolated surface at different timesteps.</li>
            <li>Use the "Clear Surface" button to clear all displayed groundwater surface maps.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'gw/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'gw/js/main.js' %}" type="text/javascript"></script>
{% endblock %}