{% extends "gw/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Welcome</h1>
  <p>This app displays groundwater data for selected aquifers:</p>
  <ul>
    <li>Well locations and metadata, including well depth, aquifer, and well elevation</li>
    <li>Time series data for each well, displaying measured water depths over time</li>
    <li>Maps of interpolated groundwater levels (statewide or subset by aquifer)</li>
  </ul>
  <p>Click on the Regional Map option on the left to view the data.</p>
{% endblock %}



{% block app_actions %}

{% endblock %}