{% extends "gw/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
    <html>
    <head>
        <title>GRACE Data Viewer</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
        <link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />
    </head>
    <body>
        <div id="map" style="height: 500px; width: 100%"></div>
        <div id="chart" style="width: 100%; height: 400px; "></div>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

	    <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
        <script type="text/javascript" src="{% static 'gw/js/region_map.js' %}"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
        <!--<script type="text/javascript" src="{% static 'gw/js/regionviewer.js' %}"></script>-->
    </body>
</html>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}

{% block app_navigation_items %}
  {{ block.super }}
    <br>
    {% gizmo select_input select_aquifer %}
    {% gizmo required_data %}
    {% gizmo calcbutton %}
    {% gizmo clearbutton %}
    <br>
    {% gizmo interpolatebutton %}
    <div id="waiting_output"></div><br>

{% endblock %}


{% block app_actions %}

{% endblock %}